* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}

