@media screen and (max-width: 1200px) {
    .footer {
        &_bot {
            a {
                padding: 10px;
            }
            .info {
                order: 2;
            }

            .ads {
                flex: 100%;
                order: 1;
                text-align: center;
            }

            .settings {
                order: 3;
            }
        }
    }
}

@media screen and (max-width: 810px) {
    .search {
        width: 85%;
        margin: 0 auto;
    }

    .footer {
        
        &_bot {
            
            .info,
            .ads,
            .settings {
                flex: 100%;
                text-align: center;
            }
        }
    }
}
