.s-right {
    width: 19rem;
    margin-left: -25px;
}

.btn-outline-dark {
    font-size: 15px;
    color: rgb(105, 224, 230);
    border-color: rgb(105, 224, 230);
}

.btn-outline-dark:hover {
    background: rgb(105, 224, 230);
    border-color: rgb(105, 224, 230);
}

.link {
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    color: #5f5f5f;
}
